{{# each birds }}
   <div class="row">
       {{# each this }}
            <div class="col">
                <div class="card h-100">
                    <img src="{{ this.image }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This {{ this.name }} is {{ this.age }} years old and sex is {{ this.sex }}.</p>
                        <div>
                            <div class="price pull-right">${{ this.price }}</div>
                            <a href="/add-to-cart/{{this._id}}" class="btn btn-primary" role="button">add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
       {{/each}}
        
    </div>
{{/each}}


